$theme: "neon";

$bodyBackground: #19182a;
$menuBackground: #25233e;
$darkBackground: $bodyBackground;
$lightBackground: linear-gradient(to right, $bodyBackground, #1f1d34 30%, #1f1d34 70%, $bodyBackground 100%);
$boxBorderColor: $darkBackground;

$bodyColor: #10b3c1;
$linkColor: #dccdef;
$linkColorActive: #ddd888;
$linkColorHover: #75eaf4;
$headerColor: #75eaf4;

$inputBackground: $darkBackground;
$inputBackgroundActive: $inputBackground;
$inputBorderColor: #8b0e8b;
$inputBorderColorActive: #e359e3;
$inputBorderStyle: solid;
$inputBorderWidth: 0 0 1px 0;
$inputColor: #75eaf4;
$buttonBackground: $inputBackground;
$buttonBackgroundActive: $buttonBackground;
$buttonBackgroundDisabled: $buttonBackground;
$buttonBorderColor: $inputBorderColor;
$buttonBorderColorActive: $inputBorderColorActive;
$buttonBorderStyle: $inputBorderStyle;
$buttonBorderWidth: $inputBorderWidth;
$buttonColor: #0d94a0;
$buttonColorActive: #75eaf4;
$buttonColorDisabled: #3b69b6;
$controlBackground: $darkBackground;
$controlBackgroundActive: $buttonBackgroundActive;
$controlBorderColor: $inputBorderColor;
$controlBorderStyle: $inputBorderStyle;
$controlBorderWidth: $inputBorderWidth;
$controlColor: $buttonColor;
$controlColorActive: $buttonColorActive;
$placeholderColor: #0a6d76;

$iconsUrl: "img-neon.png";
$shadow: #151515 2px 2px 10px;
$plannerSepColor: #403d6c;
$suggestionSepColor: $inputBorderColor;

$listItemBackgroundActive: #2e2c4e;
$diffColorNeg: #ee4e79;
$diffColorPos: #75eaf4;
$ranklistLeftColor: #403d6c;
$progressColor: #8b0e8b;
$nextRankColor: #75eaf4;
$starColorNeg: $diffColorNeg;
$starColorPos: $diffColorPos;

$colorLerpStart: $diffColorNeg;
$colorLerpEnd: $diffColorPos;

body.#{$theme} {
	background-color: $bodyBackground;
	color: $bodyColor;
}

.#{$theme} {
	@import "themes";
}
