body,input,button{font:12pt 'Gudea', sans-serif}
body{background-color:#192227;color:#ababab;margin:0}
body.bright{background-color:#fff;color:#333}
input,button{outline:none}
a{color:#d6d6d6;text-decoration:none}
a:hover{color:#fff}
a.active{color:#cec5a3}
.bright a{color:#196ea2}
.bright a:hover,.bright a.active{color:#ad333d}
.bright h1,.bright h2{color:#555}
::placeholder{color:#4f5458}
::-webkit-input-placeholder{color:#4f5458}
::-moz-placeholder{color:#4f5458}
input:-ms-input-placeholder{color:#4f5458}
.bright ::placeholder{color:#ababab}
.bright ::-webkit-input-placeholder{color:#ababab}
.bright ::-moz-placeholder{color:#ababab}
.bright input:-ms-input-placeholder{color:#ababab}

.icon{background-image:url(img-d.png)}
.bright .icon{background-image:url(img-l.png)}
.dark{background-color:#1a262a}
.light{background-color:#1f2c34}
.border{border:1px #2c323b solid}
.shadow{box-shadow:#151515 2px 2px 10px}
.bright .dark{background-color:#ededed}
.bright .light{background-color:#f5f5f5}
.bright .border{border-color:#e6e6e6}
.bright .shadow{box-shadow:#d0d0d0 2px 2px 10px}
#menu{height:44px;padding-left:56px;white-space:nowrap;padding-top:4px}
#logo{position:absolute;top:4px;left:4px;background-position:0 -104px;width:48px;height:48px}
#tennotools{display:inline-block;margin-top:10px;margin-right:24px;background-position:-48px -104px;width:96px;height:24px}
#theme-icon{width:20px;height:20px;position:absolute;top:14px;right:14px;background-position:-164px -104px;cursor:pointer}
.menu-item,#tennotools{vertical-align:top}
.menu-item,#platforms a{display:inline-block;text-align:center}
.menu-item+.menu-item{margin-left:24px}
#platforms a{font-weight:bold;font-size:9pt;padding:0 4px}
#page{padding:0 5px;margin:8px auto;text-align:center}
#page>*{text-align:left}
#main,#planner-wrap{display:inline-block;vertical-align:top}
#main .container{display:inline-block;width:200px;padding:0 5px 10px 5px;box-sizing:border-box}
#main .synd{padding:5px}

.nobr{white-space:nowrap}
h1,h2{margin:5px;font-weight:bold;text-align:center}
h1{font-size:13pt}
h2{font-size:12pt}
.info-icon{display:inline-block;width:20px;height:20px;background-position:-144px -104px;vertical-align:top;cursor:help}
.info-box{max-height:0;overflow:hidden;transition:max-height 0.2s}
.info-box>div{margin:0 5px 10px 5px}
.info-box p{margin:10px}

.top{margin:0 0 5px 5px;position:relative;cursor:default;height:64px}
.logo.big{width:52px;height:52px}
.logo.small{width:32px;height:32px;background-position-y:-52px}
.logo.tiny{width:20px;height:20px;background-position-y:-84px}
.steel .logo{background-position-x:0}
.hexis .logo{background-position-x:-52px}
.suda .logo{background-position-x:-104px}
.perrin .logo{background-position-x:-156px}
.veil .logo{background-position-x:-208px}
.loka .logo{background-position-x:-260px}

.rank-label-wrap{position:absolute;right:3px;bottom:0px;width:100px;text-align:right}
.rank-label:hover{color:#cec5a3}
.bright .rank-label:hover{color:#ad333d}
.rank-label::after{content:"\a0\25bc";font-size:8pt}
.rank-label.selecting{color:#cec5a3}
.rank-label.selecting::after{content:"\a0\25b2"}
.rank-stars{position:absolute;right:0px;top:0px;font-size:16pt;line-height:12pt}
.rank-stars.neg{color:#e44b4d}
.rank-stars.pos{color:#fb3}
.bright .rank-label.selecting{color:#ad333d}
.bright .rank-stars.pos{color:#4eb3e7}

.ranklist{min-width:120px;opacity:0;height:0;transition:height 0.15s,opacity 0.2s;overflow:hidden;position:absolute;right:-10px;top:64px}
.ranklist-item{padding:5px 20px 5px 10px;border-left:2px #616a6f solid}
.bright .ranklist-item{border-color:#c1c1c1}
.ranklist-item:hover{background-color:#3a444a;color:#cec5a3}
.ranklist-item.neg{border-left-color:#e44b4d}
.ranklist-item.pos{border-left-color:#4eb3e7}
.bright .ranklist-item:hover{background-color:#dedede;color:#ad333d}

input{background-color:#1a262a;color:#ababab}
input,.buttons button{border:1px #2c323b solid;padding:0 8px;box-sizing:border-box;height:27px;line-height:25px}
.values input{width:100%}
.values input:hover,.values input:focus,input.multiply:hover,input.multiply:focus{background-color:#182223}
.buttons button{background-color:#d4d9da;color:#1a2d38;text-transform:uppercase;font-weight:bold;font-size:9pt}
.buttons button:hover,.buttons button:focus{background-color:#fcfed3}
.buttons button:disabled{background-color:#949d9e}
.buttons button::-moz-focus-inner{padding:0;border:0}
.bright input,.buttons button{background-color:#dedede;color:#212121}
.bright input,.bright .buttons button{border-color:#c1c1c1}
.bright input{border-width:0 0 1px 0}
.bright .values input:hover,.bright .values input:focus,.bright input.multiply:hover,.bright input.multiply:focus{background-color:#ededed}
.bright .buttons button:hover,.bright .buttons button:focus{background-color:#fff}
.bright .buttons button:disabled{background-color:#9a9a9a}
.buttons>*+*{margin-left:5px}

#main .values{margin:10px 5px}
#main .values input{margin:4px 0}
#main .results{margin:10px 5px}
#main .out{text-align:center}
#main .points-next-rank{font-size:10pt;color:#616a6f}
#main .progress-background{background-color:#616a6f;margin:3px 0}
#main .progress{height:3px;width:0;transition:width 0.3s}
#main .progress.neg{background-color:#e44b4d}
#main .progress.pos{background-color:#4eb3e7}
#main .diff{font-size:10pt;text-align:center}
#main .diff.neg{color:#e44b4d}
#main .diff.pos{color:#4eb3e7}
.bright #main .progress-background{background:#c1c1c1}
.bright #main .diff.neg{color:#d63537}
.bright #main .diff.pos{color:#2289bd}

#total-results{margin:0 5px 10px 5px;padding:5px 0;text-align:center}

#settings{margin:0 5px 10px 5px}

#planner-wrap{width:310px;margin-left:25px}
#planner{padding:10px;margin:0 5px}
#planner .synd{position:relative;padding-left:35px;border-bottom:1px #3a4450 solid}
.bright #planner .synd{border-color:#d0d0d0}
#planner .synd+.synd{margin-top:10px}
#planner .synd .logo{position:absolute;top:0;left:0}
#planner .values,#planner .controls{display:inline-block}
#planner .values{width:140px}
#planner .controls{position:absolute;right:0}
#planner .controls button{background:none;border:0;color:#ababab;width:32px;line-height:25px;padding:0;vertical-align:top;font-size:10pt}
#planner .controls button:hover{background-color:#3a444a;color:#d0d2ab}
.bright #planner .controls button{color:#555}
.bright #planner .controls button:hover{background-color:#fff;color:#212121}
#planner .results,#planner #summary,#planner-wrap #suggestions{font-size:10pt}
#planner .results,#planner #summary{padding:6px 0}
#planner .in,#planner .out,#planner .efficiency{display:inline-block}
#planner .in,#planner .out{margin-right:15px}
#planner .results .in{width:80px}
#planner .results .out{width:90px}
#planner #summary .in{width:70px}
#planner #summary .out{width:80px}
#planner #summary .efficiency{width:90px}
#planner .out .neg{color:#e44b4d}
#planner .out .pos{color:#4eb3e7}
.bright #planner .out .neg{color:#d63537}
.bright #planner .out .pos{color:#2289bd}
#planner .multiply{width:100px}
#planner .buttons{float:right}

#suggestions-wrap{margin-top:10px}
#suggestions-wrap .target,#suggestions-wrap .efficiency{display:inline-block;text-align:center}
#suggestions-wrap .target{width:12.5%}
#suggestions-wrap .efficiency{float:right}
#suggestion-icons{padding:0 10px}
#suggestion-icons .logo{margin:0 auto}
#suggestions .suggestion{padding:6px 10px}
#suggestions .suggestion{cursor:pointer}
#suggestions .suggestion:hover{background-color:#3a444a}
.bright #suggestions .suggestion:hover{background-color:#dedede}
#suggestions .suggestion+.suggestion{border-top:1px #2c323b solid}
.bright #suggestions .suggestion+.suggestion{border-color:#d0d0d0}
#suggestions .target.neg{color:#e44b4d}
#suggestions .target.pos{color:#4eb3e7}
.bright #suggestions .target.neg{color:#d63537}
.bright #suggestions .target.pos{color:#2289bd}

.color-lerp0 { color: #a26935; }
.color-lerp1 { color: #ab7742; }
.color-lerp2 { color: #b4844f; }
.color-lerp3 { color: #bd925c; }
.color-lerp4 { color: #c69f69; }
.color-lerp5 { color: #cfad76; }
.color-lerp6 { color: #d8ba83; }
.color-lerp7 { color: #e1c890; }
.color-lerp8 { color: #ead59d; }
.color-lerp9 { color: #f3e3aa; }

.bright .color-lerp0 { color: #ff755e; }
.bright .color-lerp1 { color: #ec715d; }
.bright .color-lerp2 { color: #d96e5c; }
.bright .color-lerp3 { color: #c66a5b; }
.bright .color-lerp4 { color: #b3675a; }
.bright .color-lerp5 { color: #a16359; }
.bright .color-lerp6 { color: #8e6058; }
.bright .color-lerp7 { color: #7b5c57; }
.bright .color-lerp8 { color: #685956; }
.bright .color-lerp9 { color: #555555; }

@media (max-width:519px) {
	#tennotools{display:none}
}
@media (max-width:519px), (min-width:680px) and (max-width:849px) {
	#main{max-width:380px}
	#main .container{width:50%}
}
@media (min-width:520px) and (max-width:679px), (min-width:850px) {
	#main{max-width:570px}
	#main .container{width:33.3%}
}
@media (max-width:679px) {
	#planner-wrap{width:auto;display:block;margin-left:0}
	#planner{width:300px;margin:0 auto;box-sizing:border-box}
}
@media (min-width:680px) {
	#main{width:calc(100% - 340px)}
}
